<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for todo in todos %}
        <li>
            <input type="checkbox" name="done" {% if todo['done'] %} checked {% endif %} onchange="this.form.submit()">
            <span {% if todo[done] %} style="text-decoration: line-through;" {% endif %}>{{ todo['task'] }}</span>
            <a href="{{ url_for('check', index=loop.index-1 )}}">Check</a>
            <a href="{{ url_for('edit', index=loop.index-1 )}}">Edit</a>
            <a href="{{ url_for('delete', index=loop.index-1 )}}">Delete</a>
        </li>
        {% endfor %}
        <form action="{{ url_for('add') }}" method="post">
            <input type="text" name="task">
            <input type="submit" Add Todo>
        </form>
    </ul>
</body>
</html>